In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/agriculture-value-added-per-worker-wdi.csv")

In [7]:
df1 = pd.read_csv("../data/API_AG.PRD.FOOD.XD_DS2_en_csv_v2_143662/API_AG.PRD.FOOD.XD_DS2_en_csv_v2_143662.csv")

In [8]:
df2 =pd.read_csv("../data/API_AG.CON.FERT.ZS_DS2_en_csv_v2_46344/API_AG.CON.FERT.ZS_DS2_en_csv_v2_46344.csv")

In [9]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,41.00,41.34,41.16,44.60,46.70,...,95.97,102.04,99.84,96.19,109.41,112.30,114.32,111.43,NaN,NaN
3,Africa Western and Central,AFW,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,18.74,19.76,19.51,21.15,21.86,...,100.70,104.88,105.13,107.35,110.28,114.88,117.50,124.09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,21.10,21.37,21.86,22.28,22.51,...,99.62,92.32,91.63,90.75,105.86,111.64,120.77,118.29,NaN,NaN
263,South Africa,ZAF,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,32.22,32.81,34.37,33.20,34.82,...,100.99,96.06,105.85,104.36,104.48,111.43,114.24,113.24,NaN,NaN
264,Zambia,ZMB,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,15.58,15.44,15.27,16.05,16.80,...,92.56,101.64,124.72,114.62,110.94,120.52,127.49,119.91,NaN,NaN
265,Zimbabwe,ZWE,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,20.24,21.97,20.91,20.82,21.16,...,101.10,102.05,106.59,107.82,105.74,110.34,120.52,121.68,NaN,NaN

In [ ]:
df